data/raw/
data/3DMOT2015Labels/
data/cvpr2015_pedestrianWalkingPathDataset.rar
data/Wildtrack_dataset_full.zip
output/

# Python
venv*/
*.pyc
*.egg-info/
dist/
.cache
.idea

# Editors
.vscode/

# OS
.DS_Store



